body{
    background-color: rgb(3, 15, 80);
}
/* Clase para aplicar el filtro verde */
.card.seleccionada {
    border: 2px solid green;
    background-color: rgba(0, 255, 0, 0.6); /* Fondo verde claro */
}
.icon{
    width: 40px; 
    height: 40px;
}
/* Ocultar flechitas en navegadores basados en WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ocultar flechitas en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield; /* Propiedad estándar */

}

/* Estilo general para la columna del nombre */
.col-nombre {
    white-space: wrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que no cabe */
    text-overflow: ellipsis; /* Agrega "..." al final si el texto es muy largo */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .col-nombre {
        max-width: 100px; /* Limita el ancho de la columna */
        font-size: 12px; /* Reduce el tamaño de la fuente */
    }
}

@media (max-width: 480px) {
    .col-nombre {
        max-width: 80px; /* Aún más pequeño para pantallas muy pequeñas */
        font-size: 10px; /* Reduce aún más el tamaño de la fuente */
    }
}